<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanpeng.mapper.SysDictionaryMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuanpeng.domain.SysDictionary">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="dictionary_type" property="dictionaryType" />
        <result column="dictionary_value" property="dictionaryValue" />
        <result column="dictionary_code" property="dictionaryCode" />
        <result column="dictionary_desc" property="dictionaryDesc" />
        <result column="order_num" property="orderNum" />
        <result column="status" property="status" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, dictionary_type, dictionary_value, dictionary_code, dictionary_desc, order_num, status, del_flag, create_time, update_time
    </sql>

</mapper>
